<div class="ui five red inverted cards">

    <div class="card">
        <div class="extra">
            <h3 class=header">${_station.name}</h3>
            <i class="right floated huge purple location arrow icon"></i>
            <p class="header">${_station.lat}</p>
            <p class="header">${_station.lng}</p>
        </div>
    </div>

    <div class="card">
        <div class="extra">
            <h3 class=header">Weather</h3>
            <i class="right floated huge red ${_station.weatherIcon}"></i>
            <p class="header">${_station.weatherConditions}</p>
        </div>
    </div>

    <div class="card">
        <div class="extra">
            <h3 class=header">Temp</h3>
            <i class="right floated huge blue temperature low icon"></i>
            <p class="header">${_station.listTemp()}°C</p>
            <p class="header">${_station.celsiusToFahrenheit()}°F</p>
            <p class="header">Min: ${_station.smallestTemperature}</p>
            <p class="header">Max: ${_station.largestTemperature}</p>
        </div>
    </div>

    <div class="card">
        <div class="extra">
            <h3 class=header">Wind</h3>
            <i class="right floated huge green wind icon"></i>
            <p class="header">${_station.windToBeau} bft</p>
            <p class="header">${_station.windCompass}</p>
            <p class="text">Feels like</p>
            <p class="header">${_station.windChillCalculator()}</p>
            <p class="header">Min: ${_station.smallestWindSpeed}</p>
            <p class="header">Max: ${_station.largestWindSpeed}</p>
        </div>
    </div>

    <div class="card">
        <div class="extra">
            <h3 class=header">Pressure</h3>
            <i class="right floated huge orange snowflake icon"></i>
            <p class="header">${_station.listPressure()} hpa</p>
            <p class="header">Min: ${_station.smallestPressure}</p>
            <p class="header">Max: ${_station.largestPressure}</p>
        </div>
    </div>


</div>


<table class="ui celled table">
    <thead>
    <tr>
        <th>Time</th>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
        <td>
            ${reading.getTime()}
        </td>
        <td>
            ${reading.getCode()}
        </td>
        <td>
            ${reading.getTemperature()}
        </td>
        <td>
            ${reading.getWindSpeed()}
        </td>
        <td>
            ${reading.getWindDirection()}
        </td>
        <td>
            ${reading.getPressure()}
        </td>
        <td>
            <a href="/stations/${_station.id}/deletereading/${reading.id}" class="ui icon button">
                <i class="red icon trash"></i></a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>