<div class="ui five red inverted cards">

    <div class="card">
        <div class="extra">
            <h3 class=header">${_station.name}</h3>
            <p class="header">${_station.lat}</p>
            <p class="header">${_station.lng}</p>
        </div>
    </div>

    <div class="card">
        <div class="extra">
            <h3 class=header">Weather</h3>
            <p class="header">${_station.weatherConditions}</p>
        </div>
    </div>

    <div class="card">
        <div class="extra">
            <h3 class=header">Temp</h3>
            <p class="header">${_station.listTemp()}°C</p>
            <p class="header">${_station.celsiusToFahrenheit()}°F</p>
        </div>
    </div>

    <div class="card">
        <div class="extra">
            <h3 class=header">Wind</h3>
            <p class="header">${_station.windToBeau} bft</p>
            <p class="header">${_station.windCompass}</p>
            <p class="header">${_station.windChillCalculator()}</p>
        </div>
    </div>

    <div class="card">
        <div class="extra">
            <h3 class=header">Pressure</h3>
            <p class="header">${_station.listPressure()} hpa</p>
        </div>
    </div>


</div>


<table class="ui celled table">
    <thead>
    <tr>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
        <td>
            ${reading.getCode()}
        </td>
        <td>
            ${reading.getTemperature()}
        </td>
        <td>
            ${reading.getWindSpeed()}
        </td>
        <td>
            ${reading.getWindDirection()}
        </td>
        <td>
            ${reading.getPressure()}
        </td>
        <td>
            <a href="/stations/${_station.id}/deletereading/${reading.id}" class="ui tiny red button">Delete Reading</a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>