#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}

<header class="ui header">
    ${member.firstname} ${member.lastname}'s Station
</header>

<section class="ui segment">
    <h2 class="ui header">
        ${station.name}      <!--calling the station names from the constructor-->
    </h2>

    <div class="ui five red inverted cards">

        <div class="card">
            <div class="extra">
                <h3 class=header">${station.name}</h3>
                <i class="right floated huge purple location arrow icon"></i>
                <p class="header">${station.lat}</p>
                <p class="header">${station.lng}</p>
            </div>
        </div>

        <div class="card">
            <div class="extra">
                <h3 class=header">Weather</h3>
                <i class="right floated huge red ${station.weatherIcon}"></i>
                <p class="header">${station.weatherConditions}</p>
            </div>
        </div>

        <div class="card">
            <div class="extra">
                <h3 class=header">Temp</h3>
                <i class="right floated huge blue temperature low icon"></i>
                <p class="header">${station.listTemp()}°C</p>
                <p class="header">${station.celsiusToFahrenheit()}°F</p>
                <p class="header">Min: ${station.smallestTemperature}</p>
                <p class="header">Max: ${station.largestTemperature}</p>
            </div>
        </div>

        <div class="card">
            <div class="extra">
                <h3 class=header">Wind</h3>
                <i class="right floated huge green wind icon"></i>
                <p class="text">${station.windToBeau} bft</p>
                <p class="text">${station.windCompass}</p>
                <p class="text">Feels like</p>
                <p class="text">${station.windChillCalculator()}</p>
                <p class="header">Min: ${station.smallestWindSpeed}</p>
                <p class="header">Max: ${station.largestWindSpeed}</p>
            </div>
        </div>

        <div class="card">
            <div class="extra">
                <h3 class=header">Pressure</h3>
                <i class="right floated huge orange snowflake icon"></i>
                <p class="header">${station.listPressure()} hpa</p>
                <p class="header">Min: ${station.smallestPressure}</p>
                <p class="header">Max: ${station.largestPressure}</p>
            </div>
        </div>


    </div>


    <a href="/stations/${station.id}" class="ui icon button">
        <i class="icon folder open"></i>
    </a>

</section>
#{/list}

#{addstation /}