#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:stations, as:'station'}

<header class="ui header">
    ${member.firstname} ${member.lastname}'s Todo List
</header>

<section class="ui segment">
    <h2 class="ui header">
        ${station.name}      <!--calling the station names from the constructor-->
    </h2>

    <div class="ui five red inverted cards">

        <div class="card">
            <div class="extra">
                <h3 class=header">${station.name}</h3>
                <p class="header">${station.lat}</p>
                <p class="header">${station.lng}</p>
            </div>
        </div>

        <div class="card">
            <div class="extra">
                <h3 class=header">Weather</h3>
                <p class="header">${station.weatherConditions}</p>
            </div>
        </div>

        <div class="card">
            <div class="extra">
                <h3 class=header">Temp</h3>
                <p class="header">${station.listTemp()}°C</p>
                <p class="header">${station.celsiusToFahrenheit()}°F</p>
            </div>
        </div>

        <div class="card">
            <div class="extra">
                <h3 class=header">Wind</h3>
                <p class="header">${station.windToBeau} bft</p>
                <p class="header">${station.windCompass}</p>
                <p class="header">${station.windChillCalculator()}</p>
            </div>
        </div>

        <div class="card">
            <div class="extra">
                <h3 class=header">Pressure</h3>
                <p class="header">${station.listPressure()} hpa</p>
            </div>
        </div>


    </div>


    <!--<div class="ui celled five column grid">
        <div class="row"></div>
        <div class="column">${station.name}</div>
        <div class="column">Weather<br><br>${station.weatherConditions}</div>
        <div class="column">Temp<br><br>${station.listTemp()} °C<br><br>${station.celsiusToFahrenheit()}°F</div>
        <div class="column">Wind<br><br>${station.windToBeau} bft <br>${station.windCompass}<br>${station.windChillCalculator()}
        </div>
        <div class="column">Pressure<br><br>${station.listPressure()} hpa</div>
    </div>-->


    <a href="/stations/${station.id}" class="ui icon button">
        <i class="icon folder open"></i>
    </a>

</section>
#{/list}

#{addstation /}